<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
       layout:decorate="template1">
<head>
    <meta charset="UTF-8">
    <title>Patient App</title>
    <link rel="stylesheet" href="/webjars/bootstrap/5.3.3/css/bootstrap.min.css">
</head>
<body>
    <div layout:fragment="content1">
        <div class="container-lg mt-2 ">
            <div class="card">
                <div class="card-header"><h3>List Patients</h3></div>
                <div class="card-body">
                    <form method="get" th:action = "@{/user/index}">
                        <input type="text" name="keyword" th:value="${keyword}" >
                        <button type="submit" class="btn btn-primary p-1" style="width: 100px">Search</button>
                    </form>
                    <table class="table">
                        <thead>
                            <tr>
                                <th>Id</th>
                                <th>Nom</th>
                                <th>Date</th>
                                <th>Malade</th>
                                <th>Score</th>
                            </tr>
                        </thead>

                        <tbody>
                        <tr th:each="patient : ${listPatients}">
                            <td th:text="${patient.id}"></td>
                            <td th:text="${patient.nom}"></td>
                            <td th:text="${patient.dateNaissance}"></td>
                            <td th:text="${patient.malade}"></td>
                            <td th:text="${patient.score}"></td>
                            <td th:if="${#authorization.expression('hasRole(''ADMIN'')')}">
                                <a onclick="return confirm('Etes vous sure')" class="btn btn-danger" th:href="@{/admin/delete(id=${patient.id}, keyword=${keyword} ,page = ${currentPage})}">Delete</a>
                            </td>
                            <td th:if="${#authorization.expression('hasRole(''ADMIN'')')}">
                                <a class="btn btn-warning" th:href="@{/admin/editPatient(id=${patient.id})}">Edit</a>
                            </td>
                        </tr>
                        </tbody>
                    </table>
                    <ul class="nav nav-pills">
                        <li th:each="page,status:${pages}">
                            <a onclick="return confirm('Etes Vous Sure ?')" th:class="${status.index == currentPage ? 'btn btn-primary ms-2 ' : 'btn btn-outline-info ms-2'}" th:text="${status.index}" th:href="@{/user/index(page=${status.index}, keyword=${keyword})}"></a>
                            </a>
                        </li>
                    </ul>
                </div>

        </div>
        </div>
    </div>


</body>
</html>